@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;800&family=Work+Sans&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background: #05101c;
  color: white;
  font-family: "Roboto Slab", serif;
}

.image-inverted {
  filter: invert(100%);
}
.nav-link {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}
.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

@keyframes rotateSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateMedium {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes rotateFast {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

.rotate-slow {
  animation: rotateSlow 10s linear infinite; /* Cambia la duración y la función de temporización según sea necesario */
}

.rotate-medium {
  animation: rotateMedium 7s linear infinite; /* Cambia la duración y la función de temporización según sea necesario */
}

.rotate-fast {
  animation: rotateFast 4s linear infinite; /* Cambia la duración y la función de temporización según sea necesario */
}
